{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title_tag %}Request Successful{% endblock %}

{% block header %}Request Successful{% endblock %}

{% block content %}
        <div class="w-row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-content-left info-panel">
                    Kelas berhasil di request!  😄 <br>
                    kami akan menghubungi kamu untuk menyelesaikan transaksi📱<br>
                    Punya pertanyaan atau saran? <a href="{% url 'contactus' %}">klik disini</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}