<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{% block title_tag %}Lnpoint{% endblock %}</title>
	{% load static from staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="{% static 'css/index/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link rel="icon" type="image/png" href="{% static 'image/logo bulat.png' %}" /> 
	{% block css %}{% endblock %}
</head>

<body data-smooth-scroll-offset="77">
	<div class="nav-container">
		<div class="via-1498886760356" via="via-1498886760356" vio="ABOUT">
			<div class="bar bar--sm visible-xs">
				<div class="container">
					<div class="row">
						<div class="col-xs-3 col-sm-2">
							<a href="/"> <img class="logo logo-dark logo-resize" alt="logo" src="{% static 'image/bnw.png' %}"> <img class="logo logo-light logo-resize" alt="logo" src="{% static 'image/logotulisan2.png' %}"> </a>
						</div>
						<div class="col-xs-9 col-sm-10 text-right">
							<a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
						</div>
					</div>
				</div>
			</div>
			<nav id="menu1" class="bar bar-1 hidden-xs bar--absolute bar--transparent">
				<div class="container">
					<div class="row">
						<div class="col-md-1 col-sm-2 hidden-xs">
							<div class="bar__module">
								<a href="/"> <img class="logo logo-dark logo-resize" alt="logo" src="{% static 'image/bnw.png' %}"> <img class="logo logo-light logo-resize" alt="logo" src="{% static 'image/logotulisan2.png' %}"> </a>
							</div>
						</div>
						<div class="col-sm-12 text-right text-left-xs text-left-sm col-md-11">
							<div class="bar__module">
								<ul class="menu-horizontal text-left">
									<li> <a href="{% url 'about' %}">
                                        ABOUT</a> </li>
									<li> <a href="{% url 'discover' %}">
                                        DISCOVER</a> </li>
								</ul>
							</div>
							<div class="bar__module">
								<a class="btn btn--sm type--uppercase" href="{% url 'accounts:signup' %}"> <span class="btn__text">
                                    Sign up</span> </a>
								<a class="btn btn--sm btn--primary-1 type--uppercase" href="{% url 'accounts:login' %}"> <span class="btn__text">
                                    Sign in
                                </span> </a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	{% block content %}
	{% endblock %}
	{% block footer %}
	<footer class="footer-7 text-center-xs bg--secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year">2017</span> lnpoint — All Rights Reserved</span>
				</div>
				<div class="col-sm-6 text-right text-center-xs">
					<ul class="social-list list-inline">
						<li><a href="https://line.me/R/ti/p/%40unl0998g"><i class="socicon socicon-line icon icon--xs"></i></a></li>
						<!--li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
						<li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
						<li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li-->
						<li><a href="https://www.instagram.com/lnpoint"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/index/scripts.js' %}"></script>
	{% block js %}{% endblock js %}
</body>

</html>